body{
    background: fixed;
    background-image: url("https://vignette.wikia.nocookie.net/fantendo/images/b/b7/Crimson_Clash_Arena_Icon_Pokemon_Stadium.png/revision/latest?cb=20161122170814");
    background-size: cover;
    background-position: center;
}



h1{
    display: flex;
    justify-content: center;
   
    #title{
        display: flex;
        width: auto;
        height: 200px;
    }
}

.row{
    margin-left: 70px;
}

.text{
    background-color: lightblue;
    border-radius: 2em;
    border: 2px solid yellow;
}

.name {
    display: flex;
    justify-content: left;
    font-size: 4em;
    
}

.info {
    display: flex;
    justify-content: left;
    font-size: 1.25em;
    
    }

.ball img {
    height: 20em;
    width: 20em;
}



.poke {
    font-size: 1.5em;
    padding: 20px;
    margin: 20px;
    opacity: 0;
    
}

.poke.reveal {
    animation: reveal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}




@keyframes reveal {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


    
 